.thumbnail-image-style {
  width: 100%;
}

.video-profile-img-style {
  width: 15%;
}

.video-title-container {
  display: flex;
  align-items: center;
}
.video-title-container h1 {
  font-size: 17px;
}
.channel-name {
  font-size: 21px;
  margin-top: -8px;
  margin-left: 55px;
}
.video-item-views-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-left: 55px;
}
.video-item-dark {
  background-color: #000000;
  color: white;
}
.video-item-light {
  background-color: white;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .thumbnail-image-style {
    width: 100%;
  }
  .video-item-container {
    width: 390px;
    margin: 10px;
  }
  .video-title-container h1 {
    font-size: 18px;
    padding: 10px;
  }
  .channel-name {
    font-size: 20px;
    padding: 10px;
    margin-top: -20px;
    margin-left: 60px;
  }
  .video-item-views-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: -40px;
    margin-left: 60px;
  }
}
